
    <section class="contact" id="contact">
        <div class="sections">
    
            <h1 class="sub-title"><span class="hide">// </span>Contact</h1>
            
            <center>
                <div class="email">
                    <a href="mailto:"  >
                        
                        
                        <span class="iconify" data-icon="carbon:email" style="color: black;" data-width="100" data-height="100"></span>
                        <h4>example@domain.xyz</h4>
                    </a>
                </div>
            </center>    
            
        </div>
    </section>