<footer>
    <p>Esmail &copy 2022</p>
    <div class="social-icons">
        <a title="linkedin" href=""><span class="iconify" data-icon="akar-icons:linkedin-box-fill"></span></a>
        <a title="github" href=""><span class="iconify" data-icon="akar-icons:github-fill"></span></a>
        <a title="leetcode" href=""><span class="iconify" data-icon="simple-icons:leetcode"></span></a>
    </div>
</footer>