<header>
    <a class="logo" href="#main">Bit-er</a>
   
    <nav>
        <a href="#skills"><span class="hide">.</span>Skills<span class="hide">();</span></a>
        <a href="#projects"><span class="hide">.</span>Projects<span class="hide">();</span></a>
        <a href="#contact"><span class="hide">.</span>Contact<span class="hide">();</span></a>
    </nav>
</header>