<section class="main" id="main">
    <div class="sections">
        <h4><span class="hide">//</span> I'm Esmail</h4>
        <h1><span class="hide">/*</span> Back-end Developer <span class="hide">*/</span></h1>
        <em><b>"Less is More"</b></em>
        <div class="social-icons">
            <a title="linkedin" href=""><span class="iconify" data-icon="akar-icons:linkedin-box-fill"></span></a>
            <a title="github" href=""><span class="iconify" data-icon="akar-icons:github-fill"></span></a>
            <a title="leetcode" href=""><span class="iconify" data-icon="simple-icons:leetcode"></span></a>
        </div>
    </div>
</section>