
    <section class="projects" id="projects">
        <div class="sections">
            <h1 class="sub-title"><span class="hide">// </span>My projects</h1>
            <span class="project">
                <div class="project-title">Calculator</div>
                <div class="project-pic">
                    <img src="images/project1.png" alt="">
                </div>
                <div class="code"><a href="">View Code</a></div>
            </span>
            
            <span class="project">
                <div class="project-title">Calculator</div>
                <div class="project-pic">
                    <img src="images/project1.png" alt="">
                </div>
                <div class="code"><a href="">View Code</a></div>
            </span>
            
            <span class="project">
                <div class="project-title">Calculator</div>
                <div class="project-pic">
                    <img src="images/project1.png" alt="">
                </div>
                <div class="code"><a href="">View Code</a></div>
            </span>
            
            <span class="project">
                <div class="project-title">Calculator</div>
                <div class="project-pic">
                    <img src="images/project1.png" alt="">
                </div>
                <div class="code"><a href="">View Code</a></div>
            </span>
            
              
           
        </div>
    </section>