<section class="skills" id="skills">
    <div class="sections">
        <h1 class="sub-title"><span class="hide">//</span> My skills</h1>
            
            <h3>Back-end Skills</h3>
            <div class="all-skills">

                <div class="outer" style="background-image: conic-gradient(black 40%,white,white, white );">
                    <div class="inner">
                        <span class="iconify" data-icon="teenyicons:c-solid" style="color: black;"></span>
                    </div>
                </div>
                
                <div class="outer" style="background-image: conic-gradient(black 40%,white,white, white );">
                    <div class="inner">
                        <span class="iconify" data-icon="bxl:c-plus-plus" style="color: black;"></span>
                    </div>
                </div>
             
                <div class="outer" style="background-image: conic-gradient(black 70%,white,white, white );">
                    <div class="inner">
                        <span class="iconify" data-icon="fa-brands:java" style="color: black;"></span>
                    </div>
                </div>
                
                <div class="outer" style="background-image: conic-gradient(black 60%,white,white, white );">
                    <div class="inner">
                        <span class="iconify" data-icon="fluent:javascript-16-filled" style="color: black;"></span>
                    </div>
                </div>
                
                <div class="outer" style="background-image: conic-gradient(black 65%,white,white, white );">
                    <div class="inner">
                        <span class="iconify" data-icon="fa-brands:node-js" style="color: black;"></span>        
                    </div>
                </div>
                
                <div class="outer" style="background-image: conic-gradient(black 70%,white,white, white );">
                    <div class="inner">
                        <span class="iconify" data-icon="codicon:terminal-bash" style="color: black;"></span>
                    </div>
                </div>
                        
                
            </div>
                         
            <h3>General Skills</h3>
            <div class="all-skills">
               
                <div class="outer" style="background-image: conic-gradient(black 70%,white,white, white );">
                    <div class="inner">
                      <span class="iconify" data-icon="akar-icons:vscode-fill" style="color: black;"></span>
                    </div>
                </div>
           
                <div class="outer" style="background-image: conic-gradient(black 70%,white,white, white );">
                    <div class="inner">
                        <span class="iconify" data-icon="cib:intellijidea" style="color: black;"></span>
                    </div>
                </div>

                <div class="outer" style="background-image: conic-gradient(black 60%,white,white, white );">
                    <div class="inner">
                        <span class="iconify" data-icon="codicon:terminal-linux" style="color: black;"></span>
                    </div>
                </div>

                <div class="outer" style="background-image: conic-gradient(black 70%,white,white, white );">
                    <div class="inner">
                        <span class="iconify" data-icon="cib:windows" style="color: black;"></span>
                    </div>
                </div>
            </div>
          
</section>